snippet #sym
	#[symbol("${1:fn|var}")]
snippet #lib
	#[libaray("${1:gl}")]
snippet #ali
	#[align(${1:16})]
snippet #sec
	#[section("${1:.sec}")]
snippet main
	#[symbol("main")]
	fun main(argc: i64, argv: **u8) i64 {
		$0
		ret 0;
	}
snippet rec
	rec $1 {$0}
snippet uni
	uni $1 {$0}
snippet tag
	tag $1: ${2:u8} {$0}
snippet if
	if ($1) {$0}
snippet or
	or ($1) {$0}
snippet for
	var ${1:i}: i32;
	for ($1) {
		$0
		$1 = $1 + 1;
	}
snippet Test
	test "${1:intro}" {
		$0
	}
snippet pt
	print("$0");
snippet ptn
	println("$0");
snippet ptf
	printf("${1:{}}", $0);
snippet ptnf
	printlnf("${1:{}}", $0);
snippet ept
	eprint("$0");
snippet eptn
	eprintln("$0");
snippet eptf
	eprintf("${1:{}}", $0);
snippet eptnf
	eprintlnf("${1:{}}", $0);

snippet I
	${1:${2:name}[${3:T}]} = ${1:name}${4: + ${5:1};}
snippet fun
	fun ${1:${2:name}[${3:T}]}($4) $5{$0
	}
snippet val
	val ${1:name}: ${2:T} = ${3:${2:T} {$4\}}
snippet var
	var ${1:name}: ${2:T} = ${3:${2:T} {$4\}}
# Option
snippet opt
	opt[${1:T}]
snippet some
	opt[${1:T}].some{$2}${0:;}
snippet none
	opt[${1:T}].none{};
# Result
snippet res
	res[${1:T}, ${2:Error}]
snippet ok
	res[${1:T}, ${2:Error}].ok{$3}${0:;}
snippet err
	res[${1:T}, ${2:Error}].err{$3}${0:;}
# $compile_cmd
snippet $if
	\$if ($1) {$0}
snippet $or
	\$or ($1) {$0}
snippet $ea
	\$each ${1:f} in ${2:\$fields(${0})} {
	}
snippet $eaf
	\$each ${1:f} in \$fields(${0}) {
	}
