# main()
snippet main
	fn main() {
		$0
	}
# else
snippet el
	else {
		${0}
	}
# loop
snippet lo
	loop {
		${0}
	}
# match
snippet mat
	match ${1:/* condition */} {
		${2:_} => ${0},
	}
# printf
snippet pt
	print!("{$0}");
snippet ptn
	println!("{$0}");
